.header{
    font-size: 30px;
    width: 98%;
    margin: 0px;
    box-shadow: 5px 5px 10px  black;
    border-radius: 10px;
    background-color: gray;
}
.main_div{
    background-color: white;
    color: black;
    width: 49%;
    padding: 10px;
    border-radius: 10px;
}
.child_div{
    background-color: gray;
    color: white;
    font-size: 25px;
}
.result{
    float: none;

}
#camera{
    border: solid;
    border-radius: 20px;
    width: 299px;
    height: 299px;
    box-shadow: 5px 5px 10px gray;
}